// Fonts Variables

$primaryFont: "Inter";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #253256;
$secondaryColor: #f79b58;

$mainBlack: black;
$mainBg: #f1f3f7;

$black: #253256;
$white: white;

$blue1: #9aacde;
$blue2: rgba(64, 78, 119, 0.6);

$gray1: rgba(37, 50, 86, 0.4);

$red1: tomato;

$modalBg: rgba(37, 50, 86, 0.8);

// Container Variables

$containerWidth1: 100%;
$containerPadding: 1.25rem;
