// Results Styles

.results {
    width: 100%;
    color: $white;
    margin-bottom: 5rem;

    .container {
        background:
            url("../img/backgrounds/gray-bg.png") no-repeat center / cover,
            radial-gradient(
                45.39% 45.46% at 52.08% 36.29%,
                #2d3e6d 0%,
                #243259 100%
            );
        background-blend-mode: multiply;
        padding: 6.25rem 3rem 7.5rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 2.625rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 2.9fr 1fr;
        gap: 2.1875rem;
    }

    &__items-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem 1.5rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.result {
    background: $white;
    color: $black;
    border-radius: 1.25rem;
    padding: 1.25rem;
    display: flex;
    gap: 1.25rem;
    &__img-wrap {
        min-width: 10.56rem;
        height: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2.375rem;
            height: 2.375rem;
            background: $white url("../img/icons/search.svg") no-repeat center /
                1.62rem 1.62rem;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &:hover {
            opacity: 1;
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__text-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
    }

    &__text-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        font-weight: $medium;
        font-size: 1.25rem;
        line-height: 110%;
        letter-spacing: -0.02em;
        margin-bottom: 1.25rem;
    }

    &__top {
        display: flex;
        flex-direction: column;
    }

    &__mini-title {
        font-weight: $medium;
        font-size: 1.25rem;
        line-height: 110%;
        letter-spacing: -0.02em;
        margin-bottom: 0.25rem;
    }

    &__sum {
        font-weight: $medium;
        font-size: 2.25rem;
        line-height: 110%;
        letter-spacing: -0.02em;
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    &__btn {
        max-width: 50%;
    }

    &__link {
        font-weight: $medium;
        font-size: 1.25rem;
        line-height: 100%;
        letter-spacing: -0.04em;
    }
}
